header {
    text-align: center;
    font-size: large;
    color: #f2cd55;
    
}

.header a {
    color: #f2cd55
}

body {
    background-color: black;
    color: white;
}
ul {
    list-style-type: none;
    
}
nav ul {
    list-style-type: none;
    margin:5px;
    padding:5px;
    border: solid white;
}
nav li {
    display: inline;
    margin:5px;
    padding:5px;
    border: solid white 2px;
}

.main_content {
    display: flex
}

.ybrickroadimg {
    width: 500px;
    
}

.friends-list {
    display: flex;

}

.friends-list section {
    text-align: center;
    padding: 0 10px;
    border: solid #f2cd55 1px
}

.friends-list section h3 {
    font-size: 20px;
    padding: 0;
    margin: 10px;
}

.friends-list img {
    height: 250px;
    width: 250px;
    
}

img {
    width: 100%;
}

main {
    flex: 6
}


main h1, h2, h3 {
    color: #f2cd55;
}

main h1, h2 {
    font-size: 30px;
}